# --- Rust & Cargo --------------------------------------------------------
/target/
**/*.rs.bk
Cargo.lock

# --- IDEs -----------------------------------------------------------------
.idea/
.vscode/
*.sw?

# --- OS files -------------------------------------------------------------
.DS_Store
Thumbs.db

# --- Logs -----------------------------------------------------------------
*.log

# --- Sensitive configuration ---------------------------------------------
# NEVER commit private keys & API tokens!
/bot.toml
*.keypair
*.json.keypair
model.bin

# --- Misc -----------------------------------------------------------------
.env
